@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hind+Siliguri:wght@300;400;500;600;700&family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#wysiwyg h1 {
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 6px;
  font-size: 30px;
}

#wysiwyg h2 {
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 6px;
  font-size: 26px;
}

#wysiwyg h3 {
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 6px;
  font-size: 22px;
}

#wysiwyg ul {
  list-style-type: circle;
  margin-left: 14px;
  color: #707070;
}

#wysiwyg p {
  margin-bottom: 10px;
}